body {
  font-family: 'cursive', cursive;, cursive;
  font-weight: 400;;
  background-image: url(horse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-color: red;
}
#wrapper {
  width: 800px;
  margin: 50px auto 50px auto;
  }
  h1 {
      color: red;
      font-size: 60px;
      font-style: italic;
      border-color: red;
  }
h4{
  color: purple;
  border-color: red;
  text-align: center;
}
#summary {
  color: green;
}
.skillshobbies{
  color: orange;
}
h2 {
  color: blue;
  text-decoration: underline;
}
